<?xml version="1.0"?>
<ruleset name="NewsUKContentAPI">
	<config name="minimum_supported_wp_version" value="8.0" />
	<config name="testVersion" value="8.0-"/>

	<rule ref="WordPress-Docs">
		<severity>5</severity>
	</rule>
	<rule ref="WordPress-Extra">
		<severity>5</severity>
	</rule>
	<rule ref="WordPress-VIP-Go">
		<severity>5</severity>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="nuk-wp-content-api"/>
			</property>
		</properties>
	</rule>

	<!-- Temporarily disable some sniffs that conflict with PSR-4. -->
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>vendor/*</exclude-pattern>
	</rule>
 
 
	<rule ref="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed">
		<exclude-pattern>.</exclude-pattern>
	</rule>
	<!-- Show sniff codes in all reports -->
	<arg value="sp"/>

	<arg name="colors"/>

	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>
</ruleset>
