<?xml version="1.0"?>
<ruleset name="NewsUKContentAPI">
	<config name="minimum_supported_wp_version" value="7.4" />
	<config name="testVersion" value="7.4"/>

	<rule ref="WordPress-Docs">
		<severity>5</severity>
	</rule>
	<rule ref="WordPress-Extra">
		<severity>5</severity>
	</rule>
	<rule ref="WordPress-VIP-Go">
		<severity>5</severity>
	</rule>
 	<!-- <rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="wp-simple-saml"/>
			</property>
		</properties>
	</rule> -->

	 
 	<!-- These rules may be required to be attended to at some point...-->
	<rule ref="WordPress-VIP-Go">

		<!-- DB queries, mainly direct querying, slow queries : NOTE loads of no noncing -->
		<exclude name="WordPress.Security.NonceVerification.Missing"/> 
		<exclude name="WordPress.Security.NonceVerification.Recommended"/> 
		<exclude name="WordPress.Security.ValidatedSanitizedInput.InputNotSanitized"/>
		<exclude name="WordPress.Security.EscapeOutput.OutputNotEscaped"/>
		<exclude name="WordPress.Security.ValidatedSanitizedInput.InputNotValidated"/> 
		<exclude name="PSR2.Classes.PropertyDeclaration.Underscore"/> 
		<exclude name="PSR2.Methods.MethodDeclaration.Underscore"/> 
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid"/> 
		
		
	</rule>



	<!-- Temporarily disable some sniffs that conflict with PSR-4. -->
	<rule ref="WordPress.Files.FileName.InvalidClassFileName">
		<exclude-pattern>vendor/*</exclude-pattern>
	</rule>
 
 
	<rule ref="Generic.WhiteSpace.DisallowSpaceIndent.SpacesUsed">
		<exclude-pattern>.</exclude-pattern>
	</rule>
	<!-- Show sniff codes in all reports -->
	<arg value="sp"/>

	<arg name="colors"/>
 
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/tests/*</exclude-pattern>
 
</ruleset>
